[Unit]
Description=Daemon for exposing an attached Eurotech Aurora Cloud Sensor III weather station via Pyro.
After=syslog.target
Wants=network-online.target
After=network-online.target

[Service]
Restart=on-failure
Type=simple
ExecStart=/usr/bin/env python3 -u /usr/bin/aurorad /etc/aurorad/superwasp.json
StandardOutput=syslog
StandardError=syslog

